<p-table responsiveLayout="scroll" [value]="data.values" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
  [rowsPerPageOptions]="[10, 25, 50]">
  <ng-template pTemplate="header">
    <tr>
      <td fxLayoutAlign="center center">{{data.id_title}}</td>
      <td>{{data.data_title}}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item>
    <tr>
      <td>{{item.id | titlecase}}</td>
      <td>{{item.data | titlecase}}</td>
    </tr>
  </ng-template>
</p-table>