<!-- <h3>{{data.data_title}}</h3> -->
<div fxLayout="row" fxLayoutAlign="center center" style="border: 1px solid black;" [style.border-radius]="data.rounded + 'px'">
    <p-chart [type]="data.chart_type" [data]="content" [options]="chartOptions" [style]="{'width': '100%','height': '100%'}"></p-chart>
</div>