<div style="/* background: rgb(176, 199, 149); */ height: 90vh; width: 100%;" *ngIf="tabSelected" fxLayoutGap="10px"
    fxLayoutAlign="space-around center">

    <ng-container *ngIf="tabSelected.cols.length">
        <div fxLayoutAlign="space-around center" fxLayout="column" fxLayoutGap="20px"
            *ngFor="let col of tabSelected.cols " style="/* background-color: black; */ height: 90vh;"
            fxFlex="{{100/tabSelected.cols}}" id="column">
            <ng-container *ngIf="tabSelected.rows.length">
                <ng-container *ngFor="let row of tabSelected.rows ">
                    <ng-container *ngIf="tabSelected.graphs[row*tabSelected.cols.length+col]">
                        <div fxLayoutAlign="space-around center" id="filas"
                            style="/* background-color:  rgba(211, 255, 157, 0.877) ; */ height: 90%; "
                            fxFlex="{{100/tabSelected.rows}}"
                            [style.width]="tabSelected.graphs[row*tabSelected.cols.length+col].graph_space == 12 ? '100%':'' ">
                            <div fxLayout="row" style="width: 100%; height: 100%">
                                <div
                                    fxFlex="{{tabSelected.graphs[row*tabSelected.cols.length+col].graph_space*100/12}}">
                                    <!-- <h1>{{tabSelected.graphs[row*tabSelected.cols.length+col].graph_space*100/12}}</h1> -->
                                    <app-charts style="width: 90%;"
                                        [data]="tabSelected.graphs[row*tabSelected.cols.length+col]"></app-charts>
                                </div>
                                <div fxFlex
                                    *ngIf="tabSelected.graphs[row*tabSelected.cols.length+col].graph_space*100/12 != 100">
                                    <app-table [data]="tabSelected.graphs[row*tabSelected.cols.length+col]"></app-table>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>

        </div>
    </ng-container>
</div>