<div *ngIf="loading">
  <p>Cargando...</p>
</div>
<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px" style="margin-bottom: 10px;">
  <button class="p-button-info" pButton pRipple type="button" (click)="open(item)" label="{{item.tab_title}}"
    *ngFor="let item of format">

  </button>
</div>
<p-dialog header="{{item.tab_title}}" id="dialog{{i}}" [baseZIndex]="0" [(visible)]="item.display" *ngFor="let item of format; let i=index" [style]="{width: '70vw'}" [resizable]="true" [maximizable]="true">
  <app-popup [tabSelected]="item" ></app-popup>
</p-dialog>

<div *ngIf="tabSelected">
  <app-popup [tabSelected]="tabSelected"></app-popup>
</div>
